/*********************************************************************************/
/* Input                                                           */
/*********************************************************************************/
.center {

    margin: auto;

    /*border: 3px solid #73AD21;*/
    padding: 10px;
    border-collapse: collapse;
}

input, select {
    width: content-box;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: content-box;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}


/*********************************************************************************/
/* divs                                                         */
/*********************************************************************************/

div {
    text-align: center;
    border-radius: 5px;

}

#inputPanel{
    margin-left: auto;
    float:left;
}
#resultPanel{
    margin-right: auto;
    float:right;
}
/*********************************************************************************/
/* Tables                                                           */
/*********************************************************************************/

table {

    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 50%;
}

th {
    border: 1px solid #ddd;
    padding: 8px;
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
}
td {
    border: 1px solid #ddd;
    padding: 8px;
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #eeffef;
    color: #000000;
}



/*********************************************************************************/
/* Buttons                                                         */
/*********************************************************************************/

.inputBtn{
    border: 2px solid green;
    background-color: white;
    color:black;
    transition-duration: 0.4s;
    cursor: pointer;
    font-size: medium;
}
.inputBtn:hover{
    background-color: green;
    color:white;
}

#resetBtn{
    background-color: red;
    border: none;
}
#sendBtn{
    background-color: green;
    border: none;
}















