* {
    box-sizing: border-box;
    font-size: medium;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}


/*********************************************************************************/
/* Input                                                           */
/*********************************************************************************/

input, select {
    text-align: center;
    width: content-box;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}


main{
    text-align: center;
}



/*********************************************************************************/
/* divs                                                         */
/*********************************************************************************/


.header{
    width: 80%;
    float:right;
    text-align:left;
}
.navBar{
    width: 20%;
    float:right;
    text-align:right;
}


.leftPanel{
    float:left;
    width: 40%;

}
.rightPanel{
    float:left;
    width: 60%;

}
/*********************************************************************************/
/* Tables                                                           */
/*********************************************************************************/

table {
    text-align: center;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    margin:auto;
}

th {
    border: 1px solid #ddd;
    padding: 8px;
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
}
td {
    border: 1px solid #ddd;
    padding: 12px 8px;
    text-align: left;
    background-color: #eeffef;
    color: #000000;
}

h1,h2,h3{
    text-align: center;
    font-size: large;

}


/*********************************************************************************/
/* Buttons                                                         */
/*********************************************************************************/

.button{
    border: 2px solid;
    background-color: white;
    text-align: center;
    width: content-box;
    padding: 14px 20px;
    margin: 8px 0;
    border-radius: 4px;
    cursor: pointer;
}

/*index page*/
.loginBtn{
    border: 2px solid green;
    color: green;
}
.registerBtn{
    border: 2px solid blue;
    color: blue;
}

/*game page*/
.logoutBtn{
    border: 2px solid green;
    color: black;
    text-align:right;
    padding: 4px 2px;
    margin: 2px 0;
    border-radius: 1px;
}


.resetBtn{
    background-color: red;
    border: none;
}
.sendBtn{
    background-color: green;
    border: none;
}

.inputBtn{
    border: 2px solid green;
    color:black;
    transition-duration: 0.4s;
    font-size: medium;
}
.inputBtn:hover{
    background-color: green;
    color:white;
}
.inputBtn:disabled{
    border: none;
    color:gray;
}















