* {
    box-sizing: border-box;
    font-size: medium;
}


/*********************************************************************************/
/* Input                                                           */
/*********************************************************************************/

input, select {
    text-align: center;
    width: content-box;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}





/*********************************************************************************/
/* divs                                                         */
/*********************************************************************************/

.navBar{
    width: 20%;
    float:right;
    text-align:right;


}
.header{
    width: 80%;
    float:right;
    text-align:left;


}
.loginAndRegister{
    text-align: center;
    float:top;

}

.leftPanel{

    text-align: center;
    width: 40%;
    float:left;

}
.rightPanel{

    text-align: center;
    float:left;
    width: 60%;

}
/*********************************************************************************/
/* Tables                                                           */
/*********************************************************************************/

table {
    text-align: center;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    margin:auto;
}

th {
    border: 1px solid #ddd;
    padding: 8px;
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
}
td {
    border: 1px solid #ddd;
    padding: 8px;
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #eeffef;
    color: #000000;
}

h1,h2,h3{
    text-align: center;
    font-size: large;

}


/*********************************************************************************/
/* Buttons                                                         */
/*********************************************************************************/

.inputBtn{
    border: 2px solid green;
    color:black;
    background-color: white;
    transition-duration: 0.4s;
    cursor: pointer;
    font-size: medium;
}
.inputBtn:hover{
    background-color: green;
    color:white;
}
.inputBtn:disabled{
    border: none;
    color:gray;
}
#loginBtn{
    border: 2px solid green;
    background-color: white;
    color: green;
    text-align: center;
    width: content-box;
    padding: 14px 20px;
    margin: 8px 0;
    border-radius: 4px;
    cursor: pointer;
}
#logoutBtn{
    border: 2px solid green;
    background-color: white;
    color: black;
    text-align:right;
    width: content-box;
    padding: 4px 2px;
    margin: 2px 0;
    border-radius: 1px;
    cursor: pointer;
}
#registerBtn{
    border: 2px solid blue;
    background-color: white;
    color: blue;
    text-align: center;
    width: content-box;
    padding: 14px 20px;
    margin: 8px 0;
    border-radius: 4px;
    cursor: pointer;
}
#finishGameBtn{
    border: 2px solid green;
    background-color: white;
    color: green;
    text-align: center;
    width: content-box;
    padding: 14px 20px;
    margin: 8px 0;
    border-radius: 4px;
    cursor: pointer;
}


#resetBtn{
    background-color: red;
    border: none;
}
#sendBtn{
    background-color: green;
    border: none;
}















